* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Arial', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* start Game buytton */

.control-button {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #03a9f4e0;
}

.control-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: #f6f6f6;
    font-size: 24px;
    background-color: #f44336;
    border: 3px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.container {
    width: 960px;
    margin: 20px auto;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
    border: 2px solid #2196f3;
    font-size: 24px;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.memory-game-blocks {
    display: flex;
    width: 960px;
    flex-wrap: wrap;
}

.memory-game-blocks .game-blocke {
    height: 126px;
    width: 225px;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 0 1 225px;
    margin-bottom: 10px;
}

.memory-game-blocks .game-blocke .front {
    background-color: #333;
    line-height: 126px;
}

.memory-game-blocks .game-blocke .front::before {
    content: "!";
    font-size: 90px;
    color: #f6f6f6;
}

.memory-game-blocks .game-blocke .back {
    overflow: hidden;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.memory-game-blocks .game-blocke .face {
    position: absolute;
    width: 100%;
    height: 126px;
    text-align: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border: 5px solid #2196f3;
}

.memory-game-blocks .game-blocke .back img {
    width: 225px;
    height: 126px;
}

.memory-game-blocks .is-flipped,
.memory-game-blocks .has-matching {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    pointer-events: none
}

.memory-game-blocks.no-clicking {
    pointer-events: none;
}

.game-over,
.congratulation {
    display: none;
    font-size: 120px;
    color: #f44336;
    background-color: #2196f3;
    width: 100%;
    line-height: 100vh;
    font-weight: 800;
    position: fixed;
    z-index: 1;
    height: 100%;
    text-align: center;
}

.congratulation {
    color: green;
}

.time-token {
    position: absolute;
    top: -25%;
    left: 33%;
    z-index: 2;
    color: beige;
    font-size: 20px;
}

button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 3px 3px 3px;
    z-index: 5;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}


@media (max-width:991px) {
    .container {
        width: 100%;
        font-size: 18px;
    }

    .memory-game-blocks {
        width: 100%;
    }

    .memory-game-blocks .game-blocke {
        width: 25%;
        height: calc(77vh / 5);
        flex: 0 1 25%;
    }

    .memory-game-blocks .game-blocke .back img {
        width: 100%;
    }

    .memory-game-blocks .game-blocke .face {
        height: 100%;
    }

    .memory-game-blocks .game-blocke .front::before {
        font-size: 200%;
    }

    .congratulation,
    .game-over {
        font-size: 40px;
    }

    button {
        top: 55%;
        lef
    }
}